.container{
    display: block;
    width: 1280px;
    
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}

.header{
    padding-top: 63px;
}

/* Logo*/

.logo {
    color: #000;
    display: inline-block;
    height: 79px;
    text-align: center;
    font-family: sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-accent{
    color: #4BCAFF;
}

/*Menu*/

.menu{
    display: flex;
    height: 69px;
    background: #35444F;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.menu-list{
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 39px;
    padding-right: 40px;
    border-left: 1px solid #fff;
    transition: ease-in-out 0.2s;
}

.menu-list:nth-child(4){
    border-right: 1px solid #fff;
    padding-right: 39px;
}

.menu-list:hover{
    background: #222F3A
}

.menu-item{
    color: #FFF;

font-family: sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/*Main*/

main {
    margin-top: 49px;
}
.section-container{
    width: 885px;
}
.img-content{
    transition: linear 0.2s;
}

.img-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:529px;
    border: 1px solid #000;
    margin-bottom: 37px;
    
}

.img-box:hover .img-content{
    transform: scale(1.1);
}
.content-text{
    margin-bottom: 13px;
}
.aside-container{
    flex-grow: 1;
}


.aside-menu{
   width: 344px;
   border: 1px solid #000; 
}

.aside-menu-list{
    width: 100%;
    height: 81px;
    box-sizing: border-box;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 44px;
    transition: ease-in-out 0.2s;
}

.aside-menu-list:hover{
    background: #f1f1f1;
    padding-left: 64px;
    cursor: pointer;

}

.aside-menu-list:hover .aside-menu-item{
    color: #35444F;;
}

.aside-menu-item{
    color: #495863;

font-family: sans-serif;
font-size: 27px;
font-weight: 400;

}
/*Footer*/
footer{
    padding-bottom: 30px;
}
.footer-background{
    display: flex;
    margin-top: 54px;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: space-between;
    align-items: stretch;
    background: rgba(99, 105, 110, 0.48);
}
.footer-menu{
    display: flex;
}
.footer-menu-list{
    padding-bottom: 12px;
    margin-right: 28px;
    border-bottom: 1px solid transparent;
    transition: ease-in-out 0.2s;
}

.footer-menu-list:hover {
    border-bottom: 1px solid #3181A6;
}

.footer-menu-list:hover .footer-menu-item{
    color: #3181A6;
}
.footer-menu-item{
    display: inline-block;
    height: 28px;
    color: #0C1927;
    transition: ease-in-out 0.2s;

font-family: sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.footer-menu-list:nth-child(6){
    margin-left: auto;
    color: #010101;
font-family: sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 24px; /* 100% */
    margin-right: 0;
}
.copy-container{
    margin-left: auto;
    margin-right: 0px;
    
}
.copyright{
    display: block;
    color: #010101;
font-family: sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 24px; /* 100% */
}