body{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

p{
    color: #2C2C2C;

font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin: 0;
}